---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="max-w-7xl mx-auto py-10">
        <h5 class="text-center text-gray-700 text-lg uppercase font-heebo">
            Últimas noticias
        </h5>
        <h1
            class="text-center text-3xl font-heebo font-semibold uppercase w-2/3 mx-auto"
        >
            Descubre <span class="text-blue-500 font-bold"
                >actividades, proyectos, y logros</span
            > que están marcando la diferencia.
        </h1>

        <article
            class="grid grid-cols-2 items-center justify-center mt-10 gap-x-10"
        >
            <img
                class="w-full h-96 object-cover object-top rounded-lg"
                src="/img/prueba.webp"
                alt=""
            />

            <div>
                <h3 class="text-3xl font-semibold font-heebo">
                    Título de la noticia de ultima hora
                </h3>
            </div>
        </article>
    </section>
</Layout>
