---
interface Props {
    link: string;
    text: string;
    subtitle: string;
}

const { link, subtitle, text } = Astro.props;
---

<div
    class="px-5 bg-white py-10 rounded-lg flex flex-col items-center max-w-96 mx-auto"
>
    <slot />
    <h5 class="text-center font-bold text-3xl font-heebo mb-2 text-blue-700">
        {text}
    </h5>
    <p class="text-center text-sm text-gray-700 text-pretty">
        {subtitle}
    </p>

    <a
        href={link}
        class="inline-block bg-blue-700 px-10 py-2 text-center mt-5 text-white rounded-md hover:scale-[1.02] hover:bg-blue-600 transition-all w-full"
        >Saber más</a
    >
</div>
