---
interface Props {
    imgSrc: string;
    text: string;
}
const { imgSrc, text } = Astro.props;
---

<div
    class="transition-all duration-300 overflow-hidden rounded flex-1 hover:flex-[2] relative group"
>
    <div class="h-[600px] flex">
        <img
            class="w-0 flex-grow h-full object-cover rounded-xl"
            src={imgSrc}
            alt=""
        />
        <div
            class="absolute bottom-0 left-0 bg-gradient-to-b gap-x-3 from-transparent to-black w-full opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out flex items-center pb-5 pl-5"
        >
            <slot />
            <span class="text-2xl text-white">{text}</span>
        </div>
    </div>
</div>
