---

---

<section class="bg-blue-200 px-5 xl:p-0 mt-20">
    <div
        class="max-w-7xl mx-auto py-10 grid grid-cols-1 lg:grid-cols-2 justify-center items-center gap-10"
    >
        <div>
            <h2 class="text-3xl lg:text-5xl font-bold mb-3 text-balance">
                Ayudando y sensiblilizando a toda la población.
            </h2>
            <p class="text-gray-700 text-sm">
                Trabajamos para ayudar y sensibilizar a toda la población de
                Guinea Ecuatorial, promoviendo la empatía, el respeto y la
                solidaridad a través de diversas iniciativas educativas y de
                concienciación.
            </p>
            <ul class="grid grid-cols-2 grid-rows-2 mt-10 list-disc pl-10">
                <li class="col-span-1 text-lg text-gray-800 font-bold">
                    Empatía
                </li>
                <li class="col-span-1 text-lg text-gray-800 font-bold">
                    Solidaridad
                </li>
                <li class="col-span-1 text-lg text-gray-800 font-bold">
                    Educación
                </li>
                <li class="col-span-1 text-lg text-gray-800 font-bold">
                    Concienciación
                </li>
            </ul>
        </div>
        <div>
            <img
                src="/img/prueba.webp"
                alt=""
                class="w-full h-[500px] object-cover rounded-lg"
            />
        </div>
    </div>
</section>
