---
import CardHeader from "./CardHeader.astro";
import Info from "../icons/Info.astro";
import Newspapper from "../icons/Newspapper.astro";
import Video from "../icons/Video.astro";
---

<section
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-center items-center py-10 gap-5 bg-blue-200 mt-10 px-5"
>
    <CardHeader
        link="#"
        subtitle=" Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum laboriosam ipsa assumenda cum, iste dolor aspernatur eius fugit perspiciatis totam?"
        text="Noticias"
    >
        <Info className="size-20 text-blue-700" />
    </CardHeader>
    <CardHeader
        link="#"
        subtitle=" Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum laboriosam ipsa assumenda cum, iste dolor aspernatur eius fugit perspiciatis totam?"
        text="Publicaciones"
    >
        <Newspapper className="size-20 text-blue-700" />
    </CardHeader>
    <CardHeader
        link="#"
        subtitle="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum laboriosam ipsa assumenda cum, iste dolor aspernatur eius fugit  perspiciatis totam?"
        text="Videos"
    >
        <Video className="size-20 text-blue-700" />
    </CardHeader>
</section>
